body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 40px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  color: #0077cc;
}

h2 {
  font-size: 20px;
  color: #444;
}

body.dark-mode {
  background-color: #222;
  color: #f4f4f4;
}

button {
  margin: 5px 0;
  padding: 5px 10px;
  cursor: pointer;
}
